.slide {
  padding: 16px;
  background: transparent;
}

.chip {
  text-align: center;
  background-color: white;
  padding-left: 36px !important;
  padding-right: 36px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 25px !important;
  color: #212529;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  font-size: 20px;

  @media (max-width: 400px) {
    font-size: 16px;
  }
}

.centeredContainer {
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.heading {
  font-size: 32px !important;

  @media (max-width: 400px) {
    font-size: 20px !important;
  }
}

.carousel {
  // padding: 0px 20px !important;

  @media (max-width: 400px) {
    padding: 0px !important;
  }
}
